/*
Body and general styles
*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #155263;
  color: #e8fcff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1, h2 {
  color: #58a6ff;
  text-align: center;
  letter-spacing: 1px;
}

/*
Nav section styles
*/
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #ff9a3c;
  justify-content: space-between;
  left: 0;
  top: 0;
  font-weight: 500;
  z-index: 1000;
  width: fit-content;   
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 20px;
}


nav.scrolled {
    border-bottom-right-radius: 0%; 
    border-right-width: 10px;
    border-right-color: black;
    border-bottom-width: 10px;
    border-bottom-right-radius: 20px;
}
.nav-item {
  padding-right: 1rem;
  text-decoration: none;
  color:#242424;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-item:hover {
  color: #00376b !important;
}


.nav-item:visited {
  text-decoration: none;
  color:#242424;
}



/*
About section styles
*/
#about {
  display: flex;
  background-color: #242424;
  border-radius: 20px;
  margin: 15px auto;
  width: 85%;
  
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  flex-grow: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

#about h1 {
  margin-bottom: 0px;
}

#about-content {
  border-radius: 20px;
  border: 1px solid #303030;
  background-color: #1e1e1e;


  width: 90%;                  /* take up most of the parent */
  margin: 0 5%;   
  margin-bottom: 20px;             /* only left/right margin */
  padding: 20px;
  box-sizing: border-box;       /* keep padding inside width */

  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
#profile-img{
  height: 200px;
  width: 200px;
  border: 1px solid #303030;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
  transition: all 0.5s ease-in-out;
}



#skills{
  display: flex;
  background-color: #242424;
  margin: 25px auto;
  width: 85%;
  justify-content: flex-start;
  flex-basis: auto;
  flex-grow: auto;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;

}

#skills h2 {
  flex-grow: auto;
  font-size: 30px;
}

.skills-content{
  border: 1px solid #303030;
  background-color: #1e1e1e;

  padding: 20px;
  margin: 20px;

  border-radius: 20px;

  font-size: 20px;
  text-align: center;

  line-height: 1.5;

  transition: 
    background-color 0.6s ease,
    transform 0.4s ease-out,
    box-shadow 0.4s linear;
}

.skills-content p{
  font-weight: bold;
  font-size: 25px;
}

.skills-content:hover{
  background-color: rgb(50,50,50);
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

.skills-content ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*
Approaching the Project Section it is very similar to how we did the rows, but
instead we decided for it to be a Column as it's more important to emphasize
the projects that the person has done, so it's okay if it increases the vertical
length.

Nevertheless, we reused the same animations from the skills, as well as 
highlighting the projects that the user is looking at for the same reason as
the skills.
*/
#proj-container {
  display: flex;
  background-color: #242424;
  border-radius: 20px;

  margin: 20px auto;
  padding: 20px;
  width: 75%;
  
  
  flex-direction: column;
  flex-basis: auto;
  flex-grow: auto;
  flex-wrap: wrap;
  

  align-items: center;
  justify-content: center;
}

#proj-container h2 {
  text-align: center;
  flex-grow: auto;
  font-size: 30px;
}

#proj-container a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #1c71d8;
  text-decoration: none;

  overflow: hidden;
  transition: color 0.3s ease;
}

#proj-container a::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #1c71d8, #32ac5b);
  transition: left 0.4s ease;
}

#proj-container a:hover {
  color: #32ac5b;
  text-shadow: 0 0 10px rgba(50,172,91,0.6);
}

#proj-container a:hover::after {
  left: 0;
}

.project{
  border: 1px solid #303030;
  background-color: #1e1e1e;

  padding: 20px;
  margin: 20px;

  border-radius: 20px;
  width: 75%;

  font-size: 15px;

  transition: 
    background-color 0.6s ease,
    transform 0.4s ease-out,
    box-shadow 0.4s linear;
}

.project:hover{
  background-color: rgb(50,50,50);
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

/*
Approaching the Footer Section we wanted to make a simple box that
stores it vertically using columns and provided an easy way to access
the Contact Me Links as well as changing the style.
*/
footer{
  display: flex;
  background-color: #242424;
  border-radius: 20px;

  margin: 10px auto;
  padding: 20px;
  width: 30%;

  flex-basis: auto;
  flex-grow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-div h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#contact-div a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #1c71d8;
  text-decoration: none;
  margin: 8px 0;
  overflow: hidden;
  transition: color 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
}

#contact-div a::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #1c71d8, #32ac5b);
  transition: left 0.4s ease;
}

#contact-div a:hover {
  color: #32ac5b;
  text-shadow: 0 0 10px rgba(50,172,91,0.6);
}


